NEXT_PUBLIC_APP_NAME="serverpanel"
AUTH_SECRET="idkwhythisishereorwhyitexist"

DATABASE_URL="postgresql://neondb_owner:npg_XMY7uH3lnBKA@ep-quiet-sound-apt8kxps-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

PAYPAL_ENV="sandbox"
PAYPAL_CLIENT_ID="your_paypal_client_id"
PAYPAL_CLIENT_SECRET="your_paypal_client_secret"
PAYPAL_WEBHOOK_ID="your_paypal_webhook_id"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="your_paypal_client_id"

LICENSE_PRODUCT_ID="UG-PROD-001"
LICENSE_DURATION_DAYS="365"
LICENSE_PRICE_USD="9.99"
